.history {
  padding: 20px;
  background-color: #4b2267; /* Màu nền tím đậm */
  color: white;
  height: 100vh;
  width: 90%;
}

.history-header {
  display: flex;
  justify-content: space-between;
  background-color: #4c1d68; /* Màu nền header */
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.history-header1,
.history-header2 {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các input */
}

.history-header label {
  font-weight: bold;
  font-size: 14px;
}

.history-header input[type="date"],
.history-header input[type="time"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #613380;
  color: white;
}

.history-header button {
  background-color: #8854a1;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.history-header button:hover {
  background-color: #9b6bbb;
}

.history-bottom {
  width: 100%;
}

.history-bottom table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: white;
}

.history-bottom th,
.history-bottom td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid white;
}

.history-bottom th {
  background-color: #6a359c; /* Màu nền cho tiêu đề bảng */
}

.history-bottom tr:nth-child(even) {
  background-color: #5a2a78; /* Màu nền cho các hàng chẵn */
}

.history-bottom tr:hover {
  background-color: #7b3f8f; /* Màu nền khi hover qua một hàng */
}

.history-bottom td {
  word-wrap: break-word; /* Đảm bảo nội dung không tràn ra ngoài */
}

.history-bottom td.text-center {
  text-align: center;
}
