.info {
    background-color: #4b2267; 
    color: white;
    text-align: center;
    height: 100vh; 
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    margin-top: -100px;
  }

  .info-right{
    margin-top: 50px;
  }

  .info .logo{
    width: max(10%, 80px);
    margin-top: 20px;
  }
  
  .info h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 5px;
  }
  
  .info h2 {
    font-size: 24px;
    margin: 5px;
  }
  
  .info h3 {
    font-size: 22px;
    margin: 15px 0;
  }
  
  .info-member {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    display: inline-block;
  }
  
  .info-member p {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .member-list {
    display: inline-block;
    padding-left: 100px;
  }
  